[2016-07-11 19:13] emilsvennesson opened #1 "Icon/fanart"
The plugin definitely needs an icon and fanart. My own graphical skills are abysmal to say the least, and I don't want to use the official icon as that would imply that this is an officially supported plugin.

@eriksoderblom Seeing as you did some nice work on the Game Pass plugin, would you have any interest in helping out here as well? :)

[2016-07-11 20:29] eriksoderblom commented on #1
@emilsvennesson Would something like this be okay for a logo: [http://i.imgur.com/vs7uoOW.png](http://i.imgur.com/vs7uoOW.png), or is it too similar to the official logo?
The colors are from the official viaplay logo and it's also inspired by the Kodi logo.

[2016-07-11 20:52] emilsvennesson commented on #1
@eriksoderblom That should be okay! I like it, but I'm not too big of a fan of the Kodi logo.

Thanks a lot for helping out! :grinning:

[2016-07-11 21:12] #1 closed

[2016-08-09 16:33] Z-Runner opened #3 "Missing rio2016 in the main categories for kodi-viaplay"
Hey it works perfectly, but I'am missing the categori rio2016 in the base menu. I can not figure out why it is not there.

[2016-08-09 16:45] emilsvennesson commented on #3
Hi! :smiley:

Currently, the audio is missing on sports (due to http://trac.kodi.tv/ticket/16670) so I haven't bothered adding support for Rio 2016 seeing as it would be useless for the most of us.

[2016-08-09 17:27] Z-Runner commented on #3
Ok!
But still I wonder why you don't get all the categories from ViaPlay with thet get comand?
Or is the first view in Kodi hard coded?

[2016-08-09 17:40] emilsvennesson commented on #3
Nope, but it only lists categories that are equal to 'vod' (8918bf27ca89f9bcef8854b3302e5d12175da8a5). I took a look and Viaplay have tagged the Rio 2016 section with 'rio2016'.

[2016-08-10 14:31] #3 closed

[2016-11-22 19:52] nisak80 opened #4 "Account not authorized"
Just installed your plugin, and entered my username and password for my Viaplay account.
But when trying to watch a show, I get the message: " Your account is not authorized to watch this content. You will find information on how to upgrade your package on the Viaplay website." Altough when I try to open the same show on my computer og viaplay app on my LG tv this works just fine.
Is this an known

[2016-11-22 20:08] emilsvennesson commented on #4
Hi!

No, this it not a known issue. Could you try removing 'cookie_file' located in [userdata](http://kodi.wiki/view/userdata)/addon_data/plugin.video.viaplay and see if that fixes it?

If this does not work, then please attach a debug log (make sure to enable debugging in both Kodi as well as the add-on settings).

[2016-11-22 20:24] nisak80 commented on #4
Hi emilsvennesson

Thank you for superfast response and help.
Deleting the cookie_file fixed my issue and the plugin is now working perfectly.
Excelent work and again thank you very much.

[2016-12-04 13:02] emilsvennesson commented on #4
@nisak80 Can we close this? :-)

[2016-12-04 13:05] nisak80 commented on #4
Shure, thought it was you that had to close it, that's why I left it open......

[2016-12-04 13:05] #4 closed

[2016-12-10 23:14] unZane opened #5 "Lots of movies and episodes not playable"
Hi, I cant seem to be able to play any new movies or episodes at all, live sport works... All I can find in the logs are:
[logs](http://pastebin.com/26iJUc0P)

Edited:
Can confirm that downloading master with latest commit [97f1b95](https://github.com/emilsvennesson/kodi-viaplay/commit/97f1b95ef4a5d781fa27761a9963a12acee1c552) fixed my problem

[2016-12-11 13:05] emilsvennesson commented on #5
@unZane This was indeed fixed a while ago, but I never got around to cutting another release with the included fix. I've done that now and submitted it for the official repository (https://github.com/xbmc/repo-plugins/pull/788).

Thanks for the report!

[2016-12-11 13:05] #5 closed

[2017-03-17 02:25] ahansson89 opened #6 "No audiostreem"
I have an issue with the audiostream not loading. Video works fine.

Any thoughts?

[2017-03-17 12:43] emilsvennesson commented on #6
Hi! This was fixed a while ago (e8898f6c33fc2076453190bf9a6face222539f0a).

[2017-03-17 12:43] #6 closed

[2017-04-03 09:58] PlaceboPRS opened #7 ""No Valid Stream URL found""
Hi, starting to get this error more and more for some reason, for example trying to watch Sevilla v Sporting Gijon from yesterday from Finnish Viaplay, and no matter how many times I try I constantly get that error followed by some items couldn't play check log blah blah, I've tried reinstalling the addon, deleting the cookie file, everything. The match plays ok in my browser, it plays ok if I cho

[2017-04-03 14:56] emilsvennesson commented on #7
Hi! Thanks for the bug report.

You have cut off the relevant part of the debug log, so please post a full log so I can see the response from the Viaplay API.

[2017-04-03 15:45] PlaceboPRS commented on #7
Apologies I thought I included everything, here's a full log started fresh before launching Kodi and then I opened the Viaplay app and tried that specific match two times, both times getting the "No valid Stream URL" Error

17:43:56.454 T:12344  NOTICE: special://profile/ is mapped to: special://masterprofile/
17:43:56.454 T:12344  NOTICE: ----------------------------------------------------------

[2017-04-03 18:47] PlaceboPRS commented on #7
Getting the same error tonight trying to watch Inter v Sampdoria on Viaplay Finland (works fine on Viaplay Sweden).

BTW I'm in Sweden but using SmartDNS with Finland selected for Viaplay so I don't believe it's IP related, I've also tried a Finnish VPN to test previously with no difference.

[2017-04-03 22:07] emilsvennesson commented on #7
I'm still not seeing anything from vialib. Are you sure you activated debug logging in the Kodi settings?

[2017-04-04 10:36] PlaceboPRS commented on #7
Doh sorry I'm an idiot that was a normal log, this one is with debug turned on, I tried twice to watch the Sevilla v Sporting Gijon match again just in this log and got the error both times.

[kodi.zip](https://github.com/emilsvennesson/kodi-viaplay/files/892775/kodi.zip)

[2017-04-08 15:31] PlaceboPRS commented on #7
Hi, just curious if the logs showed up anything or if you've experienced it yourself? During midweek where there were many football matches about 20% or more had this bug and wouldn't play, and I had the issue with the QPR Brighton match last night, fortunately the Viaplay Sweden version was also English so I watched it there instead of from Viaplay Finland.

[2017-04-08 22:07] enen92 opened #8 "Fanart and Icon (Official repository)"
Dear @emilsvennesson,

Your addon is not showing the icon and the fanart both on kodi or on the addon website. Can you please submit an update to the repository containing at least this commit (https://github.com/emilsvennesson/kodi-viaplay/commit/012df4b995992bec7e2558e80eb87af39df974b8)?

Thanks

[2017-04-10 12:19] enen92 commented on #8
Also please put the assets tag inside the extension tag. That's likely what is causing issues on the website and kodi itself.

[2017-04-10 15:21] emilsvennesson commented on #7
It looks like Viaplay has started to encrypt some of their HLS sports streams with FairPlay DRM. As far as I know, there's no support for this in ffmpeg/Kodi. While this is sad to see, it was bound to happen at some point.

One potential 'solution' moving forward is to switch over to MPEG-DASH and libwidevine, similar to what the Netflix plugin uses (https://github.com/asciidisco/plugin.video.netf

[2017-04-10 15:23] emilsvennesson commented on #8
Hi!

Yes, sorry about that. I've been meaning to push out a new release with this fix included but haven't gotten around to it. I'll do it straight away.

Thanks for reminding me! :-)

[2017-04-10 15:23] #8 closed

[2017-04-10 17:45] PlaceboPRS commented on #7
Thanks for the reply and investigation, that really sucks, I use the HLS url to download the matches with FFMPEG to watch at my leisure and store match archives and there's no way I know of to do that with the Dash feeds :(

[2017-04-13 11:46] PlaceboPRS commented on #7
Virtually nothing plays now due to this error :(

[2017-04-16 20:03] emilsvennesson opened #9 "MPEG-DASH (inputstream.adaptive) and Widevine CDM"
As discussed in #7, Viaplay has started to implement FairPlay DRM on their sports content -- a DRM technology only supported on Apple devices. This is probably going to spread and eventually affect all content, which means that a move away from HLS is inevitable in order for this project to live on.

Viaplay is using MPEG-DASH with Widevine encryption on Google Chrome as well as the Android platfo

[2017-04-17 20:08] emilsvennesson commented on #9
Well, it turns out that _widevineChallenge is just a base64-encoded string of the challenge that's being generated by the Widevine binary. I am trying to get in touch with @peak3d to iron out some issues regarding the MPD format Viaplay uses.

[2017-04-23 20:57] rikardfries commented on #9
Hi, I do run the Magine addon on my kodi and have had great help from several people at k.n. to get it running.
It is not easy to setup but there are descriptions on their webpages.
I do not have viaplay but would be very interested interested in running/testing the cmore addon.

[2017-04-24 09:29] peak3d commented on #9
@emilsvennesson:
- for each encrypted video manifest URL inputstream.adaptive has to know the license-url where to send the license request to.
- you have to use the inputstream.adaptive fork from github.com/liberty-developer as he has the widevine wrapper included.
- pls refer here how to pass the necessary values to inputstream.adaptive using listitem property values:
 https://github.com/liberty

[2017-04-24 15:30] emilsvennesson commented on #9
@peak3d Hi and thanks for the comprehensive reply! I have tried this but no matter what I try, I can't seem to get inputstream.adaptive to send any challenge to the license server. Instead, it tries to play the stream which obviously fails because it is encrypted.

I've also tried with another service (C More) and that works fine, so my guess is that there's some parsing issue with the manifest us

[2017-04-24 18:45] peak3d commented on #9
Yes, you are right, there are 2 issues, one of them is that ContentProtection is currently not supported in representations what leads to the assumption that the stream is not encrypted.

B.t.w: Playready is not supported from looking into the encryption header, only widevine.

[2017-04-24 20:20] emilsvennesson commented on #9
@peak3d Ah, I see. Is this something you expect to add support for in the future? :-) Also, would you please care to elaborate what you mean with that only Widevine is supported? When inspecting from Chrome, it's definitely encrypted with Widevine as it's requesting and obtaining the license from a Widevine server.

Regarding the inputstream.adaptive.license_key format: I'm going to have to send a

[2017-04-24 20:27] peak3d commented on #9
In general inside mp4 container MOOV section you find license information for playready and widevine (because most content provider support both), this can be found in general also in the mpd manifest (wich is not true here, in your mpd manifest there is no hint what type of encryption is supported / required, one has to look into the stream itself)

This note is only to let you know that it is im

[2017-04-24 20:48] emilsvennesson commented on #9
@peak3d Great! Thanks a lot. :-)

Do you think something like this would work for the format:
[code]
playitem.setProperty('inputstream.adaptive.license_key', LICENSE_URL + '||' + format_license_post_data(releasePid, 'R{SSM}') + |'WHERE_TO_FIND_RESPONSE')

I'm not quite sure how to format the WHERE_TO_FIND_RESPONSE.

[2017-04-25 08:39] peak3d commented on #9
[code]
playitem.setProperty('inputstream.adaptive.license_key', LICENSE_URL + '||' + format_license_post_data(releasePid, 'B{SSM}') + '|JBlicense')

- B{SSM} instructs libssd_wv to base64 encode the challenge
- JBlicense means: the response is a b64encoded JSON string and has to be scanned for "license" key.

[2017-04-25 17:25] emilsvennesson commented on #9
@peak3d Thank you!

[2017-04-28 20:39] emilsvennesson commented on #9
@peak3d So I tried calling this function within the setProperty for another add-on, but it doesn't actually pass the challenge to the function and instead simply gives me ' 'B{SSM}' as a string. I have worked around this by writing a simple proxy that deals with the communication with the real license server, but it would have been nice to be able to get the challenge data before sending it to the

[2017-05-07 15:28] PlaceboPRS commented on #7
No sport of any kind plays now, all using DRM I guess :(

[2017-05-08 12:42] emilsvennesson commented on #9
@rikardfries I've published the code on https://github.com/emilsvennesson/kodi-cmore. Note that you'll need inputstream.adaptive from the agile branch for live streams to work properly.

@peak3d Have you had any chance to look at this yet?

[2017-05-08 12:55] peak3d commented on #9
@emilsvennesson should be possible tonight

[2017-05-08 14:41] emilsvennesson commented on #9
@peak3d Awesome! I'm looking forward to testing it out. :-)

[2017-05-12 12:26] tynor88 commented on #9
Hi, let me know if you need some help with testing. Just found the plugin and I'm eager to get the sport playback working (y)

[2017-05-12 15:27] PlaceboPRS commented on #9
Would also be happy to test, if the addon can't work with Viaplay then I'll be cancelling my Viaplay membership as football playback through their Android app is utter garbage.

[2017-05-17 15:40] emilsvennesson commented on #9
@peak3d I retried this today on the agile branch but I'm still seeing the same thing. I guess it's still a WIP or should I hit you up with a new log?

[2017-05-18 06:16] peak3d commented on #9
@emilsvennesson can you pls. pastebinit the mpd file again? The initial link is not valid anymore.
sorry for the delay, the backport agile -> mainline cost a lot of time currently.

[2017-05-18 23:39] emilsvennesson commented on #9
@peak3d Ah, no worries! I know you have a lot on your plate. :-)

Here's the MPD: https://pastebin.com/mrp8S804

[2017-05-19 21:32] peak3d commented on #9
@emilsvennesson

why^^? something missing n the template? The challenge is only valid for this single call.
The next time you request a license the challenge differs.

beside this I added some code for ConenProtection in Representation. Has to be tested.

[2017-05-19 22:19] emilsvennesson commented on #9
@peak3d I'm not able to process the Widevine challenge directly in Python, because if I call the function like this: ``playitem.setProperty('inputstream.adaptive.license_key', LICENSE_URL + '||' + format_license_post_data(releasePid, 'B{SSM}') + '|JBlicense')`` wv_challenge in the format_license_post_data function gives me 'B{SSM}' rather than the actual challenge.

Big thanks! I am going to test

[2017-05-19 22:26] peak3d commented on #9
But you should really not think about a proxy server only because there is something a small issue solved in a few minutes.

Pls. print out in python what "LICENSE_URL + '||' + format_license_post_data(releasePid, 'B{SSM}') + '|JBlicense'" results to.

[2017-05-19 22:56] emilsvennesson commented on #9
@peak3d This is with https://github.com/emilsvennesson/kodi-viaplay/commit/098a50f513e4144c09e582e312d5632f45b5a817 (format_license_data prints out the release_pid and challenge)

[code]

[2017-05-19 23:04] peak3d commented on #9
inputstream.adaptive.license_key is a property attached to the mpd file you pass to kodi / inputstream.adaptive.

B{SSM} will be evaluated in inputstream.adaptive, its a placeholder like %i in a format string.
inputstream.adaptive / libssd_wv will fill the placehlders with the real data and make the license request.

Again, you don't have to deal with the challenge, its all done automagically in i

[2017-05-19 23:08] emilsvennesson commented on #9
@peak3d But what if I have to format the POST data in the challenge like it's done in format_license_post_data, otherwise the challenge request will fail?

I tried with the latest commit in the agile branch and I'm getting an 'Unable to handle decryption. Unsupported!' message in the log now.

kodi.log: https://pastebin.com/rBQNiuTV
mpd file: https://pastebin.com/kthbjPyM

[2017-05-19 23:15] peak3d commented on #9
playitem.setProperty('inputstream.adaptive.license_key', LICENSE_URL + '||' + "{ 'getWidevineLicense': { 'releasePid': releasePid, 'widevineChallenge': 'B{SSM}' } }" + '|JBlicense')

something like this, there may be missing some " and + but this^^ is it from concept.

[2017-05-19 23:55] emilsvennesson commented on #9
@peak3d I feel like I'm really close now! I'm getting a successful license request, but for some reason inputstream.adaptive fails to find the license in the JSON string. Here's the log snippet: https://pastebin.com/b5TUBsiq

This is the response from the license server:
[code]

My license key format: playitem.setProperty('inputstream.adaptive.license_key', stream['license_url'].replace('{widevine

[2017-05-20 00:18] emilsvennesson commented on #9
@peak3d Also, the new code has introduced the 'Unable to handle decryption. Unsupported!' bug on another MPD sample that works if I revert the last two commits.

Here's the MPD: https://pastebin.com/FjiMsJfc

[2017-05-20 11:24] peak3d commented on #9
@emilsvennesson

print(stream['license_url'].replace('{widevineChallenge}', 'B{SSM}')) pls.
I guess that you may have already separators in it, could it be?

I'll look for the other issue, thx.

[2017-05-20 16:55] emilsvennesson commented on #9
@peak3d ```6:50:37.216` T:139983909881600   DEBUG: [plugin.video.viaplay-1.0.8]: https://widevine.entitlement.theplatform.eu/wv/web/ModularDrm/getWidevineLicense?form=json&schema=1.0&httpError=false&_releasePid=0bivYUSLrSPC&token=qBzRHcRUcPsgE1n4VQpmsfBOsHA6APBC&account=http%3A%2F%2Faccess.auth.theplatform.com%2Fdata%2FAccount%2F2361940180&_widevineChallenge=B{SSM}```

Here's a more extensive log:

[2017-05-20 17:37] peak3d commented on #9
In ./kodi/cdm/, do you have there 3 files with hex-filenames?
If so, pls zip them and upload.

[2017-05-20 17:56] emilsvennesson commented on #9
@peak3d Yes, I've emailed them to you because I'm unsure if they contain any sensible information.

[2017-05-20 17:58] peak3d commented on #9
I'll check what happens, but in general it looks already good

Am 20.05.2017 um 19:56 schrieb emilsvennesson:

[2017-05-20 18:30] emilsvennesson commented on #9
@peak3d It works! :-D Thanks a lot for all your work, it's much appreciated.

So TV shows and movies all play flawlessly, but there seems to be some problems with the sports content. I took a quick look at the manifests and they look a bit different to what the other content looked like. The audio plays fine (so I would guess that it's getting decrypted correctly) but I'm getting no picture.

MPD

[2017-05-20 18:33] peak3d commented on #9
Yes, heared of this issue, same at DAZN addon, will look at it tonight

[2017-05-20 18:45] emilsvennesson commented on #9
@peak3d Sorry about that! I didn't realize I had enabled component logging for curl... no wonder it was spitting out a lot of data. Here's a new log: https://pastebin.com/hyV0w8wU

I kept ffmpeg component logging enabled but maybe you'd prefer if I disabled that as well?

[2017-05-20 19:47] peak3d commented on #9
Because inputstream.adaptive is not using ffmpeg at all (it uses bento4 as demuxer) the ffmpeg lines are not topic related (they are flooding the log when scraping your disk for thumbs / changes).

ffmpeg component logging is the one I have never used and will never use.
video is sometimes important, libCURL as well, but we already jumped over these issues.

From my POV always make without compone

[2017-05-20 20:18] peak3d commented on #9
This commit: https://github.com/peak3d/inputstream.adaptive/commit/2cdb0c0ab9f1afe367ef22bc3818f2f61d071348

should solve your live-stream issue

[2017-06-11 21:18] emilsvennesson commented on #9
I thought I'd give an update on this:

With the latest inputstream.adaptive and kodi-agile, Viaplay (and C More https://github.com/emilsvennesson/kodi-cmore) is working flawlessly in Kodi again. However, as this now requires libwidevine I might have to remove it from the official repository in the future depending on what stance Kodi decides to take on DRM. You can read more about that here: https

[2017-06-11 21:20] emilsvennesson commented on #7
Latest git version uses MPEG-DASH and Widevine which solves this issue.

See https://github.com/emilsvennesson/kodi-viaplay/issues/9 for more information. :-)

[2017-06-11 21:20] #7 closed

[2017-06-12 20:38] rikardfries commented on #9
It would be nice to try it but I do not know if it is possible to run on Kodi 17.3 in a windows 10 machine.
Think I have DRM and libwidevine  in place ( from the Previous Magine installation).
I will give it a try. As soon as I get the time.
If it is ok with you ?

[2017-06-13 21:48] rikardfries commented on #9
It seems to work fine.
The thing that does not work is the texting on the CMORE film channels...

[2017-07-26 09:13] Pfupferino opened #10 "FTMC"
Hi

it seems that your addon is not working with FTMC. I downloaded your latest version today and got following information:
Version 1.0.7
-> This version is deprecated. New versions are available for Kodi Krypton or later
The dependency on xbmc.python version 2.25.0 could not be satisfaction

My system is an Asus Tinker board
OS: Android 6.0.1 API level 23 (Kernel: Linux 3.10.0)
FTMC Built: 16.2-

[2017-07-27 10:07] emilsvennesson commented on #10
Hi!

I'm not quite sure what FTMC is to be honest, but it seems to be based off an old version of Kodi that is no longer supported. In order to get Viaplay working right now, you'll need to use the Kodi 18 nightlies, inputstream.adaptive with the Widevine library in place as well as kodi-viaplay from git.

[2017-07-28 05:57] Pfupferino commented on #10
Hi

I thank you for your feedback. I found FTMC here: https://www.ossblog.org/running-kodi-asus-tinker-board/
 and the advantage is that I can use accelerate the output and the movies are more smoth as with Kodi.
I also installed Kodi and your Viaplay add on is working fine:-).

[2017-08-01 06:41] #10 closed

[2017-08-01 06:49] Pfupferino opened #11 "Viaplay crahses with Linux MINT and Kodi"
Hello again

Viaplay add-on is crashing when I move between the folders.
I'm using a PC with a Asus H87I-plus mainboard and have the following system:
OS: Linux Mint 18.2 (kernel: Linux 4.8.0-53-generic)
Kodi 17.3 Git:20170525-nogitfound
Viaplay version 1.0.8

the log file is attached.
you may can give me a helping hand to solve the issue.

Tack så mycket!

Hälsningar

[kodi.log.txt](https://githu

[2017-08-02 11:23] emilsvennesson commented on #11
Hi!

Just for clarification: is it the addon that is crashing or is it Kodi? Also, what do you mean with moving between folders? Your log file doesn't show any signs of crashing.

[2017-08-04 07:13] Pfupferino commented on #11
Kodi is crashing.
SVT Play addon is more stable.
I installed now Kodi on W10 and your app is stable again, maybe it was a Linux Mint 18.2 problem

[2017-08-18 18:54] sebastiananad opened #12 "How to update inputstream.adaptive"
Cant get master branch to install on kodi 17.3

Get a message that inputstream.adaptive 2.0.8  can't be found, how do i get that?

/Sebastian

[2017-08-19 19:15] emilsvennesson commented on #12
Hi!

Right now, you need to use the Kodi 18 nightly builds to get an up-to-date version of inputstream.adaptive that is compatible with Viaplay unless you compile it yourself. 17.4 will be released soon and should also ship with an updated version.

[2017-08-22 21:41] emilsvennesson commented on #9
Closing as everything is fully working with Kodi 17.4. Here's some quick instructions:

Download kodi-viaplay from git and install. Follow the instructions below to install the required Widevine library:

# Linux x86/Raspberry Pi
```curl -Ls http://nmacleod.com/public/libreelec/getwidevine.sh | bash```
# Windows
Install a **32-bit** web browser such as Google Chrome, search your system for **libwi

[2017-08-22 21:41] #9 closed

[2017-08-22 21:43] emilsvennesson commented on #12
Kodi 17.4 has a version of inputstream.adaptive that works with Viaplay. See the last post in #9 for instructions how to get it going.

[2017-08-22 21:43] #12 closed

[2017-09-08 05:56] tuxedojoe opened #13 "Can't install git-version"
Hi,

Thank you for what seems to be a great add-on for Kodi! Hoping to get it to work.

Installed iso8601 and request (didn't get the links working in the instructions, so I tried these)
http://kodi-addons.club/addon/script.module.iso8601/0.1.11
http://mirrors.kodi.tv/addons/gotham/script.module.requests/

But, when trying to install the kodi-viaplay addon from a zip file, I get this error.
"The d

[2017-09-08 20:40] emilsvennesson commented on #13
Hi! Please use English as this issue may be helpful to other, non Swedish speaking people.

You have to enable inputstream.adaptive first by going to My add-ons -> VideoPlayer InputStream -> InputStream Adaptive -> Enable Please note that you also need the Widevine binary in place. I have posted instructions on the bottom of #9.

[2017-09-09 08:33] tuxedojoe commented on #13
Thanks, I'll look into it and let you know if it works. Changed the question to english.

Please update the links in the README if my links are the correct version.

[2017-09-09 08:37] tuxedojoe commented on #13
That did it! Thank you! And as I thought, awesome add-on!
Would be awesome if the "enable Videoplayer InputStream" would be in the instructions as well.

Have a great day!

[2017-09-28 10:10] emilsvennesson commented on #13
Great! I'm working on a module that should make this a lot easier in the future.

[2017-09-28 10:10] #13 closed

[2017-11-05 09:31] Rune-C commented on #9
![image](https://user-images.githubusercontent.com/10323328/32413168-f88c0da2-c20b-11e7-82b1-513e5a1ea179.png)

iam really new at this. But i get this fault when use your code . what am i doing wrong
thx for the good work

[2017-11-07 08:54] sopparus commented on #9
@Rune-C there are no 64 bit widewine files for arch, I guess you are using odroid c2?
In that case you need to find 32 bit builds of osmc.

I know that 32bit libreelec exist for odroid c2

[2017-11-12 15:17] techbliss commented on #9
Hello @emilsvennesson
im trying myself to fiddle with the widevine server respons.
how do i know what part of the licence reponse is the actual key.

[2017-12-12 11:26] Jezze83 opened #14 "Sports works, movies and series not"
Im using raspberry pi 3 and latest libreelec milhouse build. Also my viaplay addon is installed from here github. Problem is: sports only works but movies and series not and i have viaplay total accout. Also adaptive stream and widevine is installed. Here is log:

12:40:46.438 T:1942917136  NOTICE: VideoPlayer::OpenFile: https://vod-dash-cdn2-vp.cdn.viaplay.tv/18e7c1c/V10996-1497879868981.ism/inde

[2017-12-21 08:37] emilsvennesson commented on #14
Hi! I am failing to reproduce this issue myself. Just to confirm: you are able to play movies and TV shows through their website?

[2017-12-21 08:42] emilsvennesson commented on #11
@Pfupferino Can we close this?

[2017-12-21 08:50] noglassess commented on #14
Yes, website works fine with all content. Could be some problem with my kodi build maybe.. I’ll wait out the release for kodi 18 and be back if the problem still occurs! :)

[2017-12-31 11:19] Jezze83 commented on #14
I got this working. I forgot i had smart dns at my router and thats why it didnt work :whiste:

[2018-01-01 16:13] emilsvennesson commented on #14
@Jezze83 Well, that explains the HTTP 400 errors. :-)

[2018-01-01 16:13] #14 closed

[2018-01-07 20:11] appelgran opened #15 "Unable to load widevine shared library"
I have Viaplay addon on Kodi 17.5 on LibreELEC release: RPi2.arm-8.2.0.1 on Raspberry Pi 3.

I'm getting this error:

[01_KODI.log - FULL LOG](https://github.com/emilsvennesson/kodi-viaplay/files/1610163/01_KODI.log)

I installed Viaplay addon from Kodi repo and followed the pop-ups, installed inputstream.adaptive and then getting widevine via a 2 GB chromium(os?) image. I can't play anything so s

[2018-01-10 11:48] emilsvennesson commented on #15
Hi! I have posted a temporary solution for this in https://github.com/emilsvennesson/script.module.inputstreamhelper/issues/8.

[2018-01-10 17:10] emilsvennesson commented on #15
@appelgran https://github.com/osmc/osmc/issues/420

[2018-01-11 11:57] #11 closed

[2018-01-11 17:11] appelgran commented on #15
@emilsvennesson Brilliant! I got it working using your temporary solution.

I also tried reverting the fix and updating LibreELEC from 8.2.0 to 8.2.2 but it did not work. I got the same error again about it being unable to load widevine shared library. Applying the fix in 8.2.2 got it working again.

[2018-01-13 17:08] emilsvennesson commented on #15
@appelgran Ah yeah, it looks like the libraries is included in LibreELEC 9+ only. I'm glad you got it working!

[2018-01-13 17:08] #15 closed

[2018-01-20 06:50] hakanjansson opened #16 "Audio drops on live sports stream"
Hi. Audio drops completely after a few seconds and never comes back when I try to watch live sports. I've only noticed this problem on the streams in the live sports category, the streams in live channels category seems to work fine. I'm using the latest version installed from GitHub today.

I don't see anything in the attached log when the audio drops. Using a stopwatch I measured 19.5s from pres

[2018-01-21 18:37] raakanassu commented on #16
I'm having the same problem.

[2018-01-23 11:06] emilsvennesson commented on #16
Hi!

Yes, I have seen the same issue from time to time. It appears to occur randomly to some streams and is something that needs to be fixed in inputstream.adaptive. However, it seems to be working fine right now (?) so let me know when/if it happens again so I can get in touch with @peak3d.

[2018-01-23 11:39] hakanjansson commented on #16
I have the same experience, the issue seems to come and go. It's working fine for me too right now. I've mainly seen it when I try to watch NHL games in the middle of the night but that might just be a coincidence. I'll add another comment here next time it happens. Just let me know if there's any additional logging or something I can do to help.

[2018-01-25 06:46] hakanjansson commented on #16
It's happening again right now. I tried both "Omega Dubai Desert Classic" and "ESL One: DOTA 2" and audio drops on both after a few seconds.

[2018-01-26 22:20] orrpan commented on #16
Mine drops every time it need to buffer. When it resumes the sound is gone

[2018-01-30 15:23] dietyyli opened #17 "Viafree"
Hello. Sorry this is probably wrong place to ask but, is there a plugin for Viafree or does this support Viafree?
Like viafree.fi viafree.se viafree.dk etc.

[2018-01-30 17:24] emilsvennesson commented on #17
Retrospect still works afaik. I'm closing this issue as it is unrelated to this add-on,

https://bitbucket.org/basrieter/xbmc-online-tv

[2018-01-30 17:24] #17 closed

[2018-02-14 18:36] hakanjansson commented on #16
Some additional info. The problem seems to be with live streams using varying segment durations, for example:
`        <SegmentTimeline>
          <S t="72893763746559" d="95232" />
          <S d="96256" />
          <S d="96257" />
          <S d="96255" />
          <S d="95232" />
          <S d="96256" />
          ...
`

The manifest never seems to be updated and eventually the segment url w

[2018-02-14 19:28] emilsvennesson commented on #16
I have been in touch with @peak3d and the problem is, like @hakanjansson said, that we need to refresh the manifest. The Viaplay web player does this every 4 segments (8 seconds) to stay in sync.

There is currently no way to specify the refresh interval in inputstream.adaptive and @peak3d understandably has a lot on his plate right now. However, it is possible to refresh the manifest on every seg

[2018-02-14 20:13] hakanjansson commented on #16
Yes, that does seem to fix it when using Leia!

(I had actually already tried enabling manifest refresh using that property and it didn't work but I was using Krypton.)

[2018-02-14 20:38] emilsvennesson commented on #16
@hakanjansson Excellent! Thank you for testing and confirming.

`manifest_update_parameter` does not exist in Krypton unfortunately. I guess there's yet another reason to try out the Leia builds. :-)

[2018-02-14 20:38] #16 closed

[2018-02-17 16:52] Zaccov opened #18 "Can't se streamd chanels"
I cant access the streamd chanels

[01_KODI.log](https://github.com/emilsvennesson/kodi-viaplay/files/1733860/01_KODI.log)

[2018-02-18 16:39] emilsvennesson commented on #18
Have you tried with the latest master? This was fixed a while ago (https://github.com/emilsvennesson/kodi-viaplay/commit/64bcf2439e1472efbae518e4f7163ddd720b1a1a).

[2018-02-18 19:08] Zaccov commented on #18
It ont even list them in the menu

[2018-02-18 19:17] emilsvennesson commented on #18
@Zaccov Try with the latest master now.

[2018-02-21 15:26] emilsvennesson commented on #18
I'm closing this as it has been fixed as of version 2.1.0.

[2018-02-21 15:26] #18 closed

[2018-03-19 21:28] vixoltrinx commented on #15
Hi, I have a raspbian on a raspberry pi 3. I have installed your add-on and used the "hack" where I substitute line 425 in the .py file. Still, my viaplay doesnt play.

Can you tell me how to install your add-on and what steps to take to get it to work with my set up? I do not want to use one of the slimmer kodi distros, I want raspbian as os.

/Christian

[2018-03-29 10:43] fgustafsson opened #19 "Danish audio track from swedish site version"
As per the title, the Viaplay addon serves me the Danish audio track where it is supposed to serve a Swedish, e.g. children's shows. Subtitles behave as expected, as are English language shows doing. It is reliable across different titles.

Latest version, reinstalling does not change anything, nor changing addon preferences. Viaplay in browser does not behave this way.

I put on debug logs and ch

[2018-03-29 10:58] emilsvennesson commented on #19
Hi @fgustafsson!

You can set the default audio language in the Kodi settings. Player -> Language -> Preferred audio language

[2018-03-29 11:01] fgustafsson commented on #19
.. and that probably only includes English, since I have not touched that setting. There will certainly not be any Danish involved.

Thank you, @emilsvennesson , I will check if that helps asap.

[2018-04-11 08:14] fgustafsson commented on #19
Sorry for the late reply, Easter holidays got in the way. Indeed default audio language was set to "original stream" (or whatever that is called in English), and changing that to Swedish produced the desired results. You can close this if you like, but may I take the opportunity to suggest that unless default audio language is set (which is a feature for the addon, of course), the fallback should

[2018-04-11 11:00] emilsvennesson commented on #19
@fgustafsson Agreed, but this is easier said than done. Once the stream has been resolved from the add-on, it's basically in the hands of Kodi. The reason you can customize subtitles is because they're supplied externally and not included in the stream.

It might be possible to subclass `xbmc.Player` and change audio stream that way, but that's a bit of a workaround. I'm leaving this issue open fo

[2018-04-23 19:19] Sebastian8505 opened #20 "Ljus grå skärm"
Hej. Kör Kodi och viaplay add-on genom en Amazon Fire stick. Allt funkar förutom att jag inte får någon bild utan bara en ljusgrå skärm. Streamen rullar men ingen bild. Vad ska jag göra för att lösa det. Kör SVT play oxå och det funkar utan problem. Hoppas någon har en lösning😀

[2018-04-24 11:59] emilsvennesson commented on #20
Hi! Please use English as this issue may be helpful to other, non Swedish speaking people.

Could you please provide a Kodi debug log? https://kodi.wiki/view/Log_file/Advanced

[2018-05-12 19:11] Zaccov commented on #18
Hi is it possible that you need Viasat Tv To Go to get this to work. I have a regular Viaplay subscription and I still cant get it to work. Using the latest master

[2018-05-13 06:33] sebastiananad opened #21 "No channels on no tv to go subscriptions"
I can see a listing of channels when i log in by desktop but not in kodi.

I attached a part of the json including the stream urls from desktop

/Sebastian

[partofjson.zip](https://github.com/emilsvennesson/kodi-viaplay/files/1998183/partofjson.zip)

[2018-05-19 15:34] Zaccov commented on #21
Hi I just tried a friends account. He has a Viaplay account thru his viasat subscription and there it works.
He has a Viasat account with Viaplay.
I have a regular Viaplay account and there it wont work.
Is there anything we can assist with so that it will work?

[2018-05-20 18:42] psonnosp opened #22 "Live streams start from the beginning without audio"
Trying to watch the hockey world championship final but when I click to start the game I get a screen with the Viaplay logo and "Standby - a new live event coming up here soon" and after a while the broadcast starts from the beginning with out possibility to fast forward so it becomes live.
And on top of that there's no audio.

Something wrong at my end or is the add-on broken?

[2018-05-23 18:49] emilsvennesson commented on #21
Hi!

Can you please attach a Kodi debug log? It will make it a whole lot easier to troubleshoot!

[2018-05-23 19:31] Zaccov commented on #21
[log-2018-05-23-19.06.06.zip](https://github.com/emilsvennesson/kodi-viaplay/files/2032532/log-2018-05-23-19.06.06.zip)
Here you go

[2018-06-22 18:15] phalax commented on #19
Thank you for the System settings tip. This was a real annoyance. 😉

[2018-07-01 11:27] Zaccov opened #23 "Can't get addon to work on Kodi 18 RP 3 B+"
Using Leia build #0630
Installed Viaplay addon from the Kodi Repo but I can't get any content.
Updated it with the master no changes.
Deleted everything and re installed the addon using master from github.
No changes.
Does this addon work with Kodi 18
[log-2018-07-01-11.08.34.zip](https://github.com/emilsvennesson/kodi-viaplay/files/2152758/log-2018-07-01-11.08.34.zip)

[2018-07-04 17:34] emilsvennesson commented on #23
@Zaccov Hi! You haven't enabled debug logging in the Kodi settings.

Could you update to the latest Leia build and see if that does anything?

[2018-07-04 17:38] Zaccov commented on #23
On my way

[2018-07-04 17:40] emilsvennesson commented on #22
Hi! This is something that has to be fixed in inputstream.adaptive.

I will try to get in touch with @peak3d to see if this is anything that can be taken care of. :-)

[2018-07-04 17:45] Zaccov commented on #23
Ok now it looks different. Now it wants me to install widwine

[2018-07-04 17:46] Zaccov commented on #23
Still can't see channels though

[2018-07-04 21:55] Leatherface75 commented on #21
You can't stream channels if you don't have a Viasat subscription with those channels.

[2018-07-05 03:13] Zaccov commented on #21
Actually you can. At the moment you can stream channel 3, 6, 8 and 10.

[2018-07-05 13:56] Leatherface75 commented on #21
No it doesn't work in app on phone atleast.

[2018-07-05 14:01] Leatherface75 commented on #21
Yes it works in webbrowser but not in Android App.
I checked in a friends phone.

[2018-07-05 14:03] Zaccov commented on #21
![screenshot_20180705-155952](https://user-images.githubusercontent.com/36570678/42327793-f147c3cc-806c-11e8-91b0-60a6ed4ec7d4.jpg)
Think he needs to update app.

[2018-07-05 14:04] Leatherface75 commented on #21
He can see that but not watch any channels.

[2018-07-05 14:07] Zaccov commented on #21
It's working fine on my phone

[2018-07-05 14:15] Leatherface75 commented on #21
![viaplay_android](https://user-images.githubusercontent.com/2489019/42328447-8a6f6e0a-806e-11e8-8b52-c9781ed26ae6.png)

[2018-07-05 14:23] Leatherface75 commented on #21
I was wrong it doesn't work in webbrowser either now.

[2018-07-05 14:36] emilsvennesson commented on #21
I have yet to recieve an informative enough post about what the problem here is. Is it the listing that doesn't work or is it the playback? Everything on my end is still working just fine, although live streams suffer from the same bug as #22.

[2018-07-05 14:40] Zaccov commented on #21
Channels not listed

[2018-07-05 14:48] emilsvennesson commented on #21
@Zaccov Can you activate your account for me so I can replicate it myself? You can hit me up on #kodi-dev at freenode (you can use the webchat at https://webchat.freenode.net/.

[2018-07-05 14:51] emilsvennesson commented on #23
I'm closing this now because it is now a duplicate of #21.

[2018-07-05 14:51] #23 closed

[2018-07-05 14:57] Leatherface75 commented on #21
The problem is that you don't have permission to view it.

403 error which means "Forbidden: Access is denied".

[2018-07-05 15:02] Zaccov commented on #21
Sure

[2018-07-05 15:19] #21 closed

[2018-07-05 15:30] Zaccov commented on #21
Works nice using millhouse #7003 RP 3b+

[2018-07-17 08:31] emilsvennesson commented on #22
This is now fixed in the inputstream.adaptive master and will be included in the next version.

[2018-07-17 08:31] #22 closed

[2018-07-22 20:35] petreee opened #24 "Live sports/Channels- No playback"
Hi!

Awesome work with the addon. Since a couple of months ago I can't get live sports and channels to work. When I select a stream it doesn't play. I have tried both Krypton and Leia. Is this a known error?

[2018-07-23 08:44] emilsvennesson commented on #24
Hi!

No, this is not a known issue. I need a Kodi debug log to see what's going on.

[2018-07-23 10:33] petreee commented on #24
[kodi.log](https://github.com/emilsvennesson/kodi-viaplay/files/2218909/kodi.log)

Here you go :) Btw, now I don't seem to see the channels. I just get the error when I select it. There isn't any live sport events at the moment so I can't try, maybe later if you need it.

[2018-07-23 14:17] emilsvennesson commented on #24
The listing should work after 2baf467. Try and see if you're still having playback issues and if you do, hit me up with a new log. :-)

[2018-07-23 17:06] petreee commented on #24
Thanks! Progress! I can now see the listing, but the first problem is still there, I press the stream but nothings happens. I can also mention that your other addon, Cmore works like a charm :)

[kodi.log](https://github.com/emilsvennesson/kodi-viaplay/files/2220323/kodi.log)

[2018-07-23 19:06] petreee commented on #24
Yeah, it works with the latest alpha, thanks! Got to be ready when the football season starts you know ;)

[2018-07-23 21:07] #24 closed

[2018-08-06 10:22] petreee opened #25 "Serie A/La Liga"
(This is actually a request but i didn't find a good place to post)

A new streaming service are apparently going to show Serie A and La Liga this season, according to [THIS](https://www.strivesport.com).

It would be awesome if you maybe could do a Kodi addon to this service if possible. If not, that's ok :)

[2018-08-10 22:18] raakanassu opened #26 "Live streams start from the beginning"
All live streams play from the beginning. I can fast forward, but the stream crashes when I get close to live. For example if a game has been on for 15 minutes when I tune in, I only get a 15 minute broadcast from the beginning.

[2018-08-12 17:15] emilsvennesson commented on #26
Hi!

This has been fixed in later versions of inputstream.adaptive. Upgrade to the latest nightly and it should work as expected.

Closing as this is a duplicate of #22.

[2018-08-12 17:15] #26 closed

[2018-08-30 22:43] emilsvennesson commented on #25
Hi! I'm lacking the motivation to take on any more projects on my spare time right now, although I agree it would have been nice to have a Kodi add-on for Strive. Perhaps in the future if no one else beats me to the punch!  :grinning:

I'm closing this because it is unrelated to the Viaplay add-on.

[2018-08-30 22:43] #25 closed

[2018-09-15 19:59] dencrypt opened #27 "Inputstream Adaptive / Widevine"
_Running 17.6 on Debian x64. Latest version of viaplay and 0.3.3 of inputstream adaptive._

Has tried the workaround in [#9](https://github.com/emilsvennesson/kodi-viaplay/issues/9) but the script now just say it's been marked as obsolete so the script doesn't work. I removed the files for inputstream under addon_data and when starting a stream the plugin downloaded the widevine again. But I still

[2018-09-27 14:28] TacII commented on #27
I have the exact same problem on Raspberry Pi3, OSMC September Build and KODI 17.6. Latest version of the Viaplay plugin as well.

15:32:05.244 T:1399837440   ERROR: COMXImageFile::ReadFile https://i-viaplay-com.akamaized.net/viaplay-prod/637/780/IngenUtanSkuld_hero__289429.jpg m_image_size zero
15:32:05.256 T:1399837440  NOTICE: LoadJpeg: unable to load https://i-viaplay-com.akamaized.net/viaplay

[2018-10-07 10:56] deleder commented on #9
This is somewhat off-topic, but would anyone know if the same method could be applied to TV2 Sumo? www.tv2sumo.no

They use DASH, and I think widevine. Would it be technically possible? If someone wants to have a look please speak out.

[2018-10-07 15:47] peak3d commented on #9
@deleder If it works in browser, it will work with kodi, too.

[2018-11-01 21:47] GianniDPC commented on #9
@emilsvennesson Hi I'm trying to create a Kodi Addon for the Belgian Yelo Play streaming application.

My POST request seems a bit different as it is base64 encoded, I decoded it and it seems to have a little more information being send than the payload only, I can see that the included payload however looks very close to your wv_challenge, so base64 encoded. What I don't understand is how is this

[2018-11-03 11:59] deleder commented on #9
Thanks for your reply, and sorry for my late answer. What browser are you referring to? TV 2 sumo is browser based streaming service. They use DASH widevine for Chrome, Chromecast and Android. HLS for iOS and Smooth streaming for Smart TV and Playstation.

Thanks!

[2019-02-17 20:47] Masterson2018 commented on #20
Hi
I also have problems.....
When I choose channels, it show me the first side, but when Im trying to go to next page, I get error, and it will not go to next page. This works on all the other categories, but not in channels....

[2019-02-17 20:51] Masterson2018 opened #28 "Can not go to next page on channels"
Hi
I also have problems.....
When I choose channels, it show me the first side, but when Im trying to go to next page, I get error, and it will not go to next page. This works on all the other categories, but not in channels....

[2019-02-20 13:34] emilsvennesson commented on #28
Hi!

I believe this was fixed in https://github.com/emilsvennesson/kodi-viaplay/commit/2baf4679eb7ec931dae59d341f3c37666bff1d76.  I never got around to pushing out a new release with the fix (will do asap) but you can try it out by installing the add-on from the zip file - https://github.com/emilsvennesson/kodi-viaplay/archive/master.zip.

[2019-02-21 16:58] Masterson2018 commented on #28
So you will come with a new release with this problem fixed?

[2019-02-25 19:58] woj76 commented on #27
Last code commit is from mid 2018, is the author still working on the plugin?
In any case, I have the same exact issue on a very fresh install of LibreELEC 9.0.0 on RaspberryPI 3 (I actually went through 4 different OS-es in one evening, none of them worked). Is there any chance anyone will look into this anytime?

[2019-03-09 19:27] woj76 commented on #27
Interestingly, when I updated manually to the package posted in the other issue it started working. Why isn't this part of the official kodi repository?

[2019-03-10 23:22] V33m commented on #28
@Masterson2018, have you tried the commit emilsvennesson mentioned? f your problem is solved and you don't face any issues, close the commit 👍

[2019-03-26 13:37] woj76 commented on #19
Same here (thanks!), I was about to report a bug when I had to cancel watching a kids movie because of this issue ;)

[2019-04-30 21:57] cabban opened #30 "Only fanart and sound"
As description says I have a x96 box with kodi 18.2 the added shows no picture but on computer it's works like A charm, It would be awesome if it could be fixes tack,;)

[2019-05-05 21:10] JensHKnudsen opened #31 "No content in the addon"
Did viaplay change something?
I have no content in the addon now.
Worked fine until this evening 20:00 (CET) 5 may 2019

My platform is :
RPi3
LibreElec 9.0.1 (Kernel 4.19.230)
Kodi 18.1 Git-Newclock5_18.1-Leia

I'm using viaplay.dk.

Logfile : [kodi.log](https://github.com/emilsvennesson/kodi-viaplay/files/3148729/kodi.log)

Tried :
 - logging out of viaplay and reactivate.
 - updating the addon

[2019-05-06 15:38] Zaccov commented on #31
Are you using addon from Kodi repo or have you downloaded the master from here? Don't seem to be the same version. The master here works better.

[2019-05-06 15:47] JensHKnudsen commented on #31
Tried both... as I wrote...
I manually updated to 2.1.2 (kodi repo only has 2.1.1)

I can post a 3 Mb kodi debug log if it helps ....

[2019-05-06 15:56] JensHKnudsen commented on #31
Logfile added to initial post...

It does contain errors like  :

[plugin.video.viaplay-2.1.2]: Unsupported page found: viaplay:watchnow

and

ERROR: NEWADDON Unknown Video Info Key "list_title"

[2019-05-07 15:14] JensHKnudsen commented on #31
Issue seems to have resolved itself?
I can see programs again so the issue can be closed

[2019-05-07 15:14] #31 closed

[2019-05-21 10:03] Masterson2018 opened #32 "Viaplay dosnt work"
Hi
ViaPlay addon dosnt work with Kodi 9.01. Is there any fixes for this?

[2019-08-20 19:39] zjoasan opened #33 "Viaplay navigation works, but not playing a video"
Haveing Netflix installed made sure i had widevine installed and inputstream.helper didn't need to do it's job since widevine was allready installed. Viaplay addon starts okey, settigns page then authentiacation via viaplay.se/activate

snipplet of kodi debug log:
[viaplay_kodi.txt](https://github.com/emilsvennesson/kodi-viaplay/files/3522290/viaplay_kodi.txt)

OSMC Vero4k, latest update. viaplay

[2019-08-21 19:54] emilsvennesson commented on #33
I believe this is due to an old version of Widevine. Try updating script.module.inputstreamhelper to version 0.3.5: https://github.com/emilsvennesson/script.module.inputstreamhelper/releases

[2019-08-21 20:49] zjoasan commented on #33
Thanks, was just about to close the issue, since i saw there was an updated inputstream.helper. Removed contens of .kodi/cdm and installed the new helper. Worked like a charm.

[2019-08-21 20:49] #33 closed

[2019-08-26 08:23] jonathanbower opened #34 "Profile support"
Hi,
Any plans for profile support?

https://kundservice.viaplay.se/profiler/

[2019-08-26 13:52] emilsvennesson commented on #34
Hi!

Yes, but first I'll have to get the add-on compatible with Python 3 for future Kodi releases. There's also quite a lot of other things I need to get up and running (such as Travis integration, tests etc) before I can start working on implementing new features. I haven't had time to work on this for a while, but hopefully I can find time and motivation to get back to working on this soon. :-)

[2019-08-26 14:08] jonathanbower commented on #34
I see, thanks for your efforts! :) Much appreciated.

[2020-01-17 15:55] cosmic-sko opened #35 "Season 3 of "Vår tid är nu" is not listed"
I just created a Viaplay account and installed the Viaplay addon on a Pi3. Everything works - except that only season 1 and 2 is found. Season 3 is not listed, although it it's available on the Viaplay website (searching from computer).

It's course disastrous if the last season is non-available. Can this be fixed?

[2020-01-17 15:58] cosmic-sko commented on #35
Replying myself:
Right now I notice the addon comment on Viaplay:
"Släpps fredag 31 januari kl. 05.00". So by unknown reason I'll have to wait 2 weeks for season 3.

[2020-02-01 22:10] fisban commented on #28
Hi
I also have problems.....
When I choose channels, it show me the first side, but when Im trying to go to next page, I get error, and it will not go to next page. so i cant see tv 6 and 9 and the rest

[2020-03-09 19:29] DreamT80 opened #36 "Viaplay for Kodi as Live TV/PVR source? (enhancement)"
Hi!
First of all, thank you for a great product.
I have a suggestion that you maybe have thought of: Would it be possible to develop the plugin as a Live TV source/PVR client? I know that a real PVR setup expects a hardware interface in backend....But I think that, since Viaplay has channels in it's interface, wouldn't it be possible to map these to a "fake" PVR client in the foreground? This woul

[2020-03-15 15:14] emilsvennesson commented on #36
Hi!

It would have been a nice enhancement indeed, but that would require support for Python based PVR addons in Kodi (or a complete C++ rewrite). I don't think that's likely to happen anytime in the near future unfortunately...

[2020-03-15 15:16] #35 closed

[2020-03-29 17:12] SoulFear opened #37 "Single-use code prompt in widgets"
I rely on the use of widgets in Kodi. I've set up widgets that contain channels from the Viaplay add-on.
Whenever I try to start playback of a live TV channel through the widgets, I get a "single-use code" prompt.

When I enter the code playback will start.
If I then proceed to stop the playback, I can start playback of the same channel, but if I try to start playback from another channel (still t

[2020-03-29 17:20] SoulFear opened #38 "Hide previously aired TV programmes"
When browsing channels, a lot of them show previously aired TV programmes.
I have to scroll several pages to reach the TV programme that is currently on air.

Some channels work fine (i.e. NRK1, TV2 etc).

[2020-05-08 20:50] Leatherface75 commented on #36
Here is an exemple of PVR addon using Python so maybe this can give some ideas.

https://gitlab.com/RunasSudo/pvr.python/

https://forum.kodi.tv/showthread.php?tid=301993

[2020-06-05 07:19] Leatherface75 commented on #38
That's one of the good things with Play services that you can see the programs when you want and have time for that.

[2020-12-06 19:40] stnufc opened #39 "When trying to watch live sports - missingvideoerror"
Hi! Thanks very much for addon. I use it for year now, but had a pause for months and didnt use it. I understand it was updated long time ago, but is there anything that I can done to fix 'missingvideoerror'? It appears only when I trying to watch live sports events. Other videos are fine. And no problem when I watch live sports on Chrome. Tried to fully uninstall Kodi, deleted Kodi folder in AppD

[2020-12-06 21:09] #39 closed

[2020-12-06 21:11] emilsvennesson commented on #39
I have pushed a quick fix for this.

[2020-12-10 11:15] filigranen opened #40 "Subtitle not always downloaded"
For some videos subtitles are not working when they exist and are working using a browser on viaplay.se.

This has happened only a few times, but I thought I'd report it now when I have a fresh case and the movie still exists on viaplay.

Cannot remember now what others didn't work, but IIRC they were all swedish movies. Perhaps something to do with the language and the subtitle language matching?

[2020-12-10 11:50] #40 closed

[2020-12-10 11:53] emilsvennesson commented on #40
Good job timing in my lunch break with this bug report! :-)

I fixed this and simplified the logic to just download all subtitles. The old code was a workaround to an old bug where it wasn't possible to load more than one subtitle externally. Make sure to set your default subtitle language in Kodi to load your preferred language by default.

[2020-12-12 20:45] filigranen commented on #40
Good to know when to file reports. ;)

Tested it on the above, "Sune på bilsemester", and it seems to work like it should.

Thanks for the quick fix!

[2021-01-07 14:02] hedmo opened #41 "kodi-viaplay on kodi-19"
hi

as the title is .... does it work with kodi-19 ?. i am running gentoo and need/want to manually install
it via the package manage . the other plugins i have created and installed have had its own files
for kodi-19 (THE PLUGIN NAME.matrix.zip")

regards

[2021-01-09 15:23] ammansik opened #42 "Unable to play live streams anymore"
I'm unable to use the Viaplay addon for playing live streams. It still used to work a few months ago.

Here's the log from Kodi:
2021-01-09 15:15:30.966 T:2318386032   ERROR: NEWADDON Unknown Video Info Key "list_title"
2021-01-09 15:15:37.015 T:3011129360   ERROR: Previous line repeats 23 times.
2021-01-09 15:15:37.015 T:3011129360   ERROR: Playlist Player: skipping unplayable item: 0, path [plug

[2021-01-30 14:27] putrid1 opened #43 "Live Channels: MissingVideoError"
Kodi 18.9.0
Ubuntu 20.04.1 LTS
(everything freshly installed)
Viaplay 2.1.2
Video Test Streams 0.1.7 (by SlyGuy) tested ok with **InputStream Adaptive - Dash With Widevine**

**Issue:**
When trying to play a Live Channel I'm getting the "MissingVideoError"
(I can play both live and archived in Chrome)

Anything else is playing fine on the Viaplay app

I looked at the Dependencies and found this:
`

[2021-02-22 14:36] zebbe152 opened #44 "Support for Kodi 19 Matrix"
Are there any plans to make this add-on compatible with Kodi 19 Matrix?

[2021-02-23 16:47] SweXtal commented on #44
There are a couple of issues.

First, prior versions <19 used Python 2.x, where Kodi 19 uses Python 3.x. That's the "not compatible" issue.

In windows, you go to %USERPROFILE%\appdata\roaming\kodi\addons\plugin.video.viaplay

in addon.xml you have two choices what to do.
Fix A:
edit the line containing "<import addon="xbmc.python" version="2.25.0" />" and replace 2.25.0 with 3.0.0 which is the Ko

[2021-02-26 14:15] ravenrocks commented on #44
Hi SweXtal.
Have you found a way to actually play videos in Matrix, the changes above makes it open fine and all, but not play anything.

[2021-02-26 19:19] SweXtal commented on #44
No. As I wrote, this was during my first ever experience of python. I'm a complete noob at this and I don't have time to become a superhero pythonist. It seems that between Kodi 18.x and 19x something also changed in the JSON. Hence the faults. I am NOT an experienced Python nor Kodi programmer. I just want to state that and make it clear. This is walking in a minefield for me....

[2021-02-26 21:07] emilsvennesson commented on #44
Duplicate of #41.

[2021-02-26 21:07] #44 closed

[2021-02-26 21:12] emilsvennesson commented on #41
https://github.com/emilsvennesson/kodi-viaplay/commit/bbd36279cdedd55882b9ddd1a8910cdae89915cb adds initial python3 support. It's currently not thoroughly tested, so please let me know if you find any bugs related to the switch.

[2021-02-26 21:17] hedmo commented on #41
Will do . Thanks

[2021-02-26 22:40] #43 closed

[2021-02-28 18:11] SweXtal commented on #41
Never ever going to mention something here again just to be slapfaced and flagged.

[2021-03-04 12:56] filigranen commented on #41
I tried this now, but cannot start any video.
The log gets spammed with the entire .sami file:
[code]
,and it ends with a crash:
[code]

Full log here:
https://paste.kodi.tv/fonukawada.kodi

Let me know if you want me to add a new issue with this, but I suppose it's related to the python switch.

[2021-03-29 13:23] Leatherface75 commented on #41
Tried this today and seems to work fine

[2021-04-10 13:14] rikardfries opened #45 "For Series I do not see watched Episodes updated. Is this an error or not possible to implement."
For Series I do not see watched Episodes updated.  Is this an error or not possible to implement.

[2021-04-14 20:23] Ravnsborgs commented on #41
I got it working on Kodi 19 on a FireTV 4K today after strugling a bit with downloading the repository. I couldn't find version 2.1.2 in the official Kodi repository. But I downloaded the .zip file code-tab and installed the plug-in with no issues. I have only tested a few episodes but everything seems to be working ok.
Thumbs up from Denmark!

[2021-04-15 19:24] Ravnsborgs commented on #41
Tested for ~one day. Subtitle language chages every now and then.

[2021-04-25 19:50] failure84 commented on #41
Tested on Ubuntu 21.04 and had to use html lib instead of HtmlParser lib and subtitles writes as w not wb (bytes). Not tested much right now but playing stream. Will get back with a patch / pr, l8er.

[2021-04-26 17:29] failure84 commented on #41
[code]

[2021-04-26 17:31] failure84 commented on #41
Subtitles / Audio streams works.

[2021-05-20 11:56] Ravnsborgs commented on #41
failure84: Will the updated code be uploaded and the viaplay.py file be updated or is it on a do-it-yourself basis? Cause Im no python linguist.

[2021-06-26 10:11] woj76 opened #46 "Unable to display Films entries"
Since couple of months (should have reported this earlier), I cannot enter "Filmer" in the plug-in, the plug-in crashes with an error. All other entries work, can be displayed and videos played. I am not entirely sure if the source of the problem is in the ViaPlay API, or in the Kodi libraries (I run Kodi 9.2.7 on RaspberryPI 3), in any case, the error message from the log is this:

`2021-06-25 22

[2021-07-31 09:32] MickeMM commented on #38
+1 on this.
When i press channel i want to see whats playing now. Not have to scroll alot to find it :)

[2021-08-01 20:38] Leatherface75 commented on #38
Maybe as an option because it's useful to be able to watch already aired programs.
It should not be hidden as default.
Maybe it's possible to change so it goes to current program in the list so you don't need to scroll that would solve that problem.

[2021-08-02 06:59] putrid1 commented on #45
Any insight on this? Would love to see episodes as watched ✅

[2021-08-02 10:11] michael112 opened #47 "Support for viaplay.pl"
May I ask for adding an option to choose viaplay.pl in addon properties? The website is starting tomorrow and I would like to try how it looks like in Kodi.

[2021-08-03 00:18] zuzia-dev commented on #47
https://viaplay.pl/  is now available. @emilsvennesson  you can help with this?

[2021-08-06 10:07] Mariusz89B commented on #47
@emilsvennesson @zuzia-dev

Hej Emil.

Jag har lagt till stöd för den polska delen av Viaplay, dock har jag stött på problem med synkroniseringen utav de polska undertexterna när materialet spolas fram/bak. Tänkte ifall du har möjlighet att kika och se vad det kan bero på?

Tilläget har nu även stöd för både Python 2 samt 3 och kan köras på Kodi v18+, samt en del andra uppdateringar.
https://githu

[2021-08-07 14:33] zuzia-dev commented on #46
Norwegian version:

[code]

[2021-08-07 18:58] Mariusz89B commented on #46
Here is a fix for this issue,
https://github.com/Mariusz89B/kodi-viaplay/releases/

[2021-08-07 19:00] Mariusz89B commented on #45
Should be fixed here:
https://github.com/Mariusz89B/kodi-viaplay/releases/tag/2.1.4

[2021-08-07 19:01] Mariusz89B commented on #41
Leia and Matrix support, with other fixes:
https://github.com/Mariusz89B/kodi-viaplay/releases/

[2021-08-07 19:18] zuzia-dev commented on #46
It works just fine via Kodi 18.9.  Well done, @Mariusz89B, you are great :)

[2021-08-08 06:57] putrid1 commented on #45
Not sure..
what I'm missing is that little "watched" (hotkey W) icon after the episode name.

I appreciate your update, but I don't see that it solves this particular issue? Thanks

[2021-08-08 07:17] Mariusz89B commented on #45
Sorry, thought you mean the category watched was missing.

[2021-08-08 07:52] woj76 commented on #46
Brief check indicates it works for me too, thanks! BTW, it seems Emil has vanished?...

[2021-08-08 08:46] Mariusz89B commented on #38
Added setting "Hide previously aired Live-Tv programmes".

https://github.com/Mariusz89B/kodi-viaplay/releases/

[2021-08-08 11:09] Mariusz89B commented on #36
A more simple solution would be generating an m3u list with the viaplay channels, that you could use in PVR Simple Client. This should be quite possible to implement with a little code tweaking.

EDIT:
I added a M3U generator in settings:
~~https://github.com/Mariusz89B/kodi-viaplay/releases/tag/2.1.6~~

EDIT2:
Just realized that the guid contains datestamp for epg starttime, I need to figure out

[2021-08-09 23:18] Leatherface75 commented on #36
Nice added features but creating M3U only adds TV3, TV6, TV8, TV10 not V Sport and Film channels.

[2021-08-10 06:41] Mariusz89B commented on #36
I only have a basic free account on Viaplay, are these channels shown in the same category section as other live channels?

[2021-08-10 18:56] Leatherface75 commented on #36
I don't have those channels in the plugin so i don't understand where it get those channels from.
It should only create M3U for V Sport & V Film channels.
The other channels i have with Telenor subscription.

[2021-08-10 19:40] Mariusz89B commented on #36
@Leatherface75 I don't understand? Are those channels not in the plugin? M3U generator only generates available channels from the plugin.

[2021-08-11 00:33] Leatherface75 commented on #36
I don't have those channels only V Sport and V Film channels because it's V Sport Premium subscription.
V Sport and V Film channels is there in the plugin but M3U generates TV3, TV6, TV8, TV10 channels that doesn't exist.

[2021-08-11 01:23] Mariusz89B commented on #36
@Leatherface75 Ok, so we need to add those channels to the live tv category. I would need this subscription for testing purposes, to make the addon recognize these channels.

[2021-08-11 09:52] Leatherface75 commented on #36
You can try 2 weeks for free for this purpose.
https://checkout.viaplay.se/register/116618

[2021-08-11 10:14] Mariusz89B commented on #36
I already have this subscription, those channels are not included. I won't buy a subscription just to fix the addon though.

[2021-08-11 17:18] Leatherface75 commented on #36
You don't need to buy it's 2 weeks for free just cancel it within 2 weeks.
It's exactly what it says "Viaplay Film & Serier"  "Prova 2 veckor fritt" https://checkout.viaplay.se/register/116618

Should be able to see V Film channels atleast.
Still don't understand where TV3, TV6, TV8, TV10 channels comes from.
I don't have subscription on those channels.
It grabs something that's not there.

[2021-08-11 17:29] Mariusz89B commented on #36
@Leatherface75 Det är ju det jag har gjort, jag har dessa 2 veckor prova fritt men saknar film kanaler, endast TV3, TV6, TV8, TV10 är tillgängliga i prov perioden.

[2021-08-11 22:30] Leatherface75 commented on #36
Skumt hmms alltså har inte tillgång till detta själv men hos en annan som har det som jag hjälpt.
Antar man måste ha Premium paketet eller fullt abonnemang för det då.
Konstigt att inte dessa kanaler du har inte ingår i Premium paketet när dom ingår i det fria för Film och Serier.
Har dessa kanaler redan genom TVheadend från mitt vanliga TV abonnemang för min egen del.
Däremot kunde jag önska att

[2021-08-11 22:53] Leatherface75 commented on #46
I think he is too busy right now.

[2021-08-12 08:42] Mariusz89B commented on #46
@woj76 @Leatherface75 https://github.com/emilsvennesson/kodi-viaplay/pull/50#issuecomment-896712043

[2021-08-12 18:56] Mariusz89B commented on #45
Well, it should be possible to implement a cache list function and add an icon to watched episodes. But do not Kodi possibly have this function built-in?

[2021-08-12 19:21] putrid1 commented on #45
Yes it has. And it works on everything but the viaplay-plugin. I thought it was a bug in the plugin. Or maybe it's something wrong on my end?

[2021-08-13 09:17] Mariusz89B commented on #45
@putrid1 Yes, it seems to be some sort of issue with the listitem object. I'm not sure how to resolve this as I'm not that familiar with how plugins implement listitem objects as I only created scripts before.

[2021-11-02 14:59] ravenrocks opened #51 "Trakt"
Viaplay doesn't work with Trakt. It will not mark an episode as seen.

[2021-11-20 18:03] putrid1 commented on #51
see this issue
https://github.com/emilsvennesson/kodi-viaplay/issues/45

I believe Trakt does not recognize any viaplay entry, as the viaplay-addon wont mark them as watched. I wish I had the knowledge to investigate this

[2021-11-20 18:51] putrid1 commented on #45
I dont know if this helps. I'm comparing another kodi-addon (https://github.com/CaptainTyphoo/xbmc-addon-nrk/tree/python3) and **Mark as watched**

**NRK Addon**
[code]

**Viaplay Addon**
[code]
![image](https://user-images.githubusercontent.com/76736133/142737786-1fe9a97b-0d54-4d5c-b102-9952dc17301c.png)

[2021-11-25 19:17] Mariusz89B commented on #45
@putrid1 Good find! This issue seems releated to "list_title" that is included in the listitem object, I will try to resolve it.

[2021-11-28 08:08] Mariusz89B commented on #45
@putrid1 I removed the "list_title" error, but unfortunately it seems not to be related to marked as watched issue.

[2021-11-29 20:33] putrid1 commented on #45
@Mariusz89B Too bad.. Did you upload that last fix? I'll let you know if I find anything else suspicious

[2022-01-28 22:06] Nicho84 opened #52 "Doesn't work"
This addon doesn't seem to work at all. The 4 character code doesn't work, and Viaplay wants me to sign up for some kind of subscription that costs money.

Will there be a fix? Thanks.

[2022-01-29 18:13] CHJ85 opened #53 "Please add support for Kodi 19 Matrix"
Hi there. Could you please write this addon for Kodi 19?
Thanks.

[2022-02-05 21:48] #53 closed, assigned to nobody

[2022-02-05 21:50] CHJ85 commented on #52
Viaplay is a paid subscription streaming service.
I'd suggest you use this forked version instead:
https://github.com/Mariusz89B/kodi-viaplay

[2022-03-04 13:22] MartySouth opened #54 "Dutch viaplay.com missing"
I'm trying to activate Viaplay for the Dutch website but I can only choose viaplay.dk./.fi/.no/.se/.pl/.lt and not viaplay.com

[2022-03-18 17:05] Beanow commented on #54
@MartySouth I've gotten it working locally and submitted the above PR.

If you'd like to test it right now, you can download my version from:
https://github.com/Beanow/kodi-viaplay/archive/refs/heads/add-nl.zip

Then in Kodi install the plugin from the zip file.
It should add `viaplay.com/nl` in the addon settings to view NL content.

[2022-03-19 09:48] FransvanHulst commented on #54
Works on osmc/vero4k+! Thanks!

[2022-03-19 10:32] SJoWie80 commented on #54
Is it me ? I cant get the subtitles to work

[2022-03-19 10:50] FransvanHulst commented on #54
Subtitles do work here

[2022-03-19 11:10] Beanow commented on #54
Honestly haven't tested subtitles at all, I'll have a look. But @SJoWie80 if you could mention an example of what you're trying to watch with which subtitles, that'd be great!

[2022-03-19 11:28] Beanow commented on #54
Took a random series as a test and seems to be selecting the Dutch subtitles automatically, and as the only option (besides none).

# Kodi 19 on x86
![image](https://user-images.githubusercontent.com/497556/159119140-f6f80d37-7369-4d3f-8c64-ffea4f1a77e6.png)
![image](https://user-images.githubusercontent.com/497556/159119242-c6c7b4eb-b654-47e1-bee3-c36e83878f82.png)

# Kore remote app
![image](htt

[2022-03-24 13:41] Beanow opened #55 "Future maintenance"
Hi @emilsvennesson @Mariusz89B
Thanks for your work on this addon :]
I wanted to reach out to you, about your thoughts for the addon going forward.

In an earlier discussion https://github.com/emilsvennesson/kodi-viaplay/pull/50#issuecomment-896712043 you discussed not having time/motivation, and collaborating in this repository. Though it looks like https://github.com/Mariusz89B/kodi-viaplay is i

[2022-03-24 14:42] emilsvennesson commented on #55
Hi @Beanow @Mariusz89B!

I'm happy that you guys are still maintaining/want to maintain this add-on as I haven't had the time to do it myself for quite some time! This was a project I started to get familiar with programming, and the code base kind of reflects that haha! There's a lot of room for improvement, but I haven't had the time or motivation to do the much needed refactor. Ideally, that's

[2022-03-24 15:13] Mariusz89B commented on #55
Hi Guys, well I forked this add-on to add some fixes and hadn't any plans on maintaining it, my main purpose was to learn about kodi plugins as I only worked with scripts. I can add you guys as collaborators if you like to keep it running as I'm currently not having the time to keep it updated.

[2022-03-24 15:36] Beanow commented on #55
It's been all Mariusz to be honest. I just added one PR so far.

So I understand none of us are really intending to maintain.

Still think it would be nice to collaborate on one repo.
I would suggest either:
- https://github.com/emilsvennesson/kodi-viaplay because issues are enabled here.
- Transferring to an organization.

---

:ok_hand: no problem with me (the license would require that anyway)

[2022-03-24 16:31] Mariusz89B commented on #55
@Beanow @emilsvennesson I have some folks currently working on the add-on in my repo, I have sent you guys invites. I also turned on issues as I wasn't aware of it being disabled.

[2022-03-25 13:10] Beanow commented on #55
Thanks, I got your invite @Mariusz89B.

It's the default for forks I believe. Makes sense for people who are forking only to submit PRs upstream, not to maintain it.
It may be confusing to have two repositories with issues open though.

[2022-03-27 00:09] zuzia-dev commented on #55
I am greatly interested in your project and I think it is great that you are working on it.

[2022-04-10 15:34] heppix commented on #55
Hey, since Mariusz have no time to maintain it anymore I decided to take it and keep it in life.
I have no much experience in maintaining Kodi add-ons so it's good time to learn something new :)
We have forked it with @zuzia-dev, the source code you can find here: https://github.com/zuzia-dev/kodi-viaplay
Also I have my private repository for my skins and kodi add-ons as well so I pushed it there,

[2022-05-02 13:28] karl500 opened #56 "Support for viaplay.ee"
Hello,

Would really appreciate if there was support for viaplay.ee also in the plugin. Would like to see how it looks and works in kodi.

[2022-06-11 20:03] zuzia-dev commented on #56
Hello @karl500
Try this version: [viaplay.zip](https://github.com/zuzia-dev/zuzia_srcs/raw/main/kodi-viaplay.zip)
Looks good: [[screenshot]](https://github.com/zuzia-dev/zuzia_srcs/blob/main/Viaplay_%20Estonia.jpg?raw=true) but check to make sure everything is working properly.

[2022-06-20 10:30] karl500 commented on #56
Hello @zuzia-dev

Thank you very much, I installed it and logged in nicely. Also tried to play some videos and everything seems to work fine.

[2022-07-09 20:49] zuzia-dev commented on #56
Thank you, the Estonian version is already added to Viaplay: https://github.com/zuzia-dev/kodi-viaplay/releases/tag/v2.3.7